.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 2em;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #8D0507 0%, #BA111B 100%);
    mix-blend-mode: multiply;
    background: url("/static/img/bg-default.png") no-repeat;
    background-size: cover;
    padding: 12em 0 6em 0;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
}

.page-header img {
    width: 35em;
}

.page-header h1 {
    color: #ffffff;
    font-weight: bold;
}

.section-header {
    font-weight: bolder;
    margin: 1em 0;
}

.section-header::after {
    content: "";
    background: #8D0507;
    float: left;
    width: 100%;
    height: 8px;
    border-radius: 1000px;
    margin-top: 5px;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}


.splide__track {
    padding: 0.5em 0;
}

.campaign-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2em;
    margin: 0 1em;
    overflow: hidden;
    column-gap: 1em;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    height: 100%;
}

.campaign-title {
    color: #8D0507;
    font-weight: bold;
    line-height: 1.15em;
    margin-bottom: 0.7em;
    text-overflow: ellipsis;
    overflow-wrap:break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.campaign-button {
    width: 100%;
}

.campaign-description {
    text-align: justify;
    line-height: 1.3em;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap:break-word;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical; 
}

.vote {
    width: 100%;
}

.button-fill {
	border-radius:6px;
	cursor:pointer;
	padding:0.5rem 2rem;
    text-decoration:none;
    margin: 1em 0 0 0;
    text-align: center;
    font-weight: 800;
    max-height: 2.5em;
}

.button-fill {
	color:#ffffff;
	background-color: #8D0507;
    border: none;
}
.button-fill:hover {
	color:#ffffff;
    background-color:#BA111B;
    text-decoration:none;

}
.button-fill:active, .button-outline:active {
	position:relative;
	top:1px;
}

.button-fill:focus {
    outline: none;
}

.invert {
    background-color:#ffffff;
	color: #8D0507;
}

.invert:hover {
    background-color:#ffffff;
    color:#BA111B;
}

.carousel-button {
    height: 1.5em;
    width: 1.5em;
    border:  solid #8D0507;
    border-width:0 0 5px 5px ;
    background: none;
    border-radius: 0;
}

.right {
    transform: rotate(225deg);
    right: 0;
}

.left {
    transform: rotate(45deg);
    left: 0;
}

.carousel-button:hover {
    border: solid #BA111B;
    border-width:0 0 5px 5px ;
}

.carousel-button:focus {
    outline: none;
}

.kebijakan-list {
    padding: 0 4em;
}

.kebijakan-item {
    display: grid;
    grid-template-areas: 
    "title category"
    "desc desc";
    grid-template-columns: auto 1fr;
    grid-template-rows: max-content max-content;
    justify-items: baseline;
    align-items: center;
    column-gap: 1em;
    row-gap: 0.5em;
    border: 2px solid #AD0D0F;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 2em;
    max-width: 65em;
    height: 19em;
    margin-bottom: 3em;
    position: relative;
    overflow: hidden;
}

.kebijakan-item a {
    color: #000000;
    text-decoration: none;
}

.kebijakan-item a:hover {
    color: #8D0507;
}

.kebijakan-title {
    grid-area: title;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow-wrap:break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.kebijakan-description {
    grid-area: desc;
    max-height: 12.5em;
    width: 85%;
    text-overflow: ellipsis;
    overflow-wrap:break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
}

.kebijakan-category {
    grid-area: category;
    background: #DCB6B7;
    border-radius: 9999px;
    padding: 0.1em 1em;
    display: flex;
    align-items: center;
    height: fit-content;
}

.kebijakan-category-logo {
    transform: scale(5);
    position: absolute;
    bottom: 2.5em;
    right: 1em;
}

.kebijakan-category-logo path {
    fill: rgba(128, 5, 8, 0.41);
}
