*{
    font-family: Inter;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none !important;
}


/* navbar */
.mynav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav-container {
    display: flex;
    align-items: center;
    column-gap: 4em;
    background-color: #FFFFFF;
    padding: 1em 3em;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.nav-container a {
    color: black;
}

.nav-container ul {
    list-style-type: none;

}

.nav-brand-img {
    height: 2.5em;
}

.nav-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: flex;
    column-gap: 7vh;
    align-items: center;
    margin: 0;
}

.nav-item {
    font-weight: bold;
}

.nav-item:hover {
    color: #8D0507;
}

.nav-profile {
    position: relative;
}

.nav-dropdown {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.dropdown-container {
    position: relative;
}

.dropdown-items {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    left: -1em;
}

/* show and hide dropdown */
.dropdown-items.show {
    display: flex;
}

.float-right {
    right: 0;
}

.dropdown-items.profile {
    margin-top: 0.5em;
    right: 0;
}

#policy-dropdown {
    width: max-content;
}



.nav-dropdown:focus {
    outline: none;
}

.dropdown-items a {
    padding: 0.1em 1em;
    font-weight: 600;
}

.dropdown-items a:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #8D0507;
}

.dropdown-icon {
    height: 7px;
    width: 7px;
    border:  solid #000000;
    border-width:0 0 2px 2px ;
    background: none;
    transform: rotate(-45deg);
    margin-left: 5px;
}

.icon-user {
    margin-right : 0.5em;
    height: 2.4em;
}

.icon-burger {
    display: none;
    height: 2em;
    cursor: pointer;
}

@media (max-width:850px) {
    .nav-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-group {
        display: none;
        flex-direction: column;
        align-items: stretch;
        font-size: 1.3rem;
        margin-top: 0.7rem;
    }

    .nav-group.show {
        display: flex;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.7rem;
    }

    .nav-profile {
        font-size: 1.3rem;
        margin-top: 0.7rem;
    }

    .dropdown-items {
        background: #f3f3f3;
        width: 100%;
        left: 0;
    }

    #policy-dropdown {
        width: 100%;
    }

    .dropdown-items.profile {
        margin-top: 0;
    }

    .dropdown-items a:hover {
        background-color: #f3f3f3;
        color: #8D0507;
    }

    .dropdown-container {
        width: 100%;
    }

    .nav-dropdown {
        width: 100%;
    }

    .icon-user {
        display: none;
    }

    .icon-burger {
        display: block;
    }
}


/*cards*/
.kartu{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
.kartu-p{
    padding-top: 2%;
}

.judul{
    text-decoration: underline solid #D8BFD8;
    font-weight: 600;
    font-size: 30px;
    padding-top: 4%;
}


.button-fill, .button-outline {
	border-radius:6px;
	cursor:pointer;
	padding:0.5em 2em;
    text-decoration:none;
    margin: 1em 0 0 0;
    text-align: center;
    font-weight: 800;
    border: 1.5px solid #8D0507;
}

.button-fill {
	color:#ffffff;
	background-color: #8D0507;
}

.button-outline {
    background:#ffffff;
	color: #8D0507;
}

.button-fill:hover {
	color:#ffffff;
    background-color:#BA111B;
    text-decoration:none;
}

.button-outline:hover {
	color:#ffffff;
	background-color: #d64447;
    border: 1.5px solid #d64447;
}

.button-fill:focus, .button-outline:focus {
    outline: none;
}

.invert {
    background-color:#ffffff;
	color: #8D0507;
}

.invert:hover {
    background-color:#ffffff;
    color:#BA111B;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background: #FAFAFA;
}
