{% extends 'navbar.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/campaign_home.css' %}" rel="stylesheet">
{% endblock style %}

{% block body %}
    <div class="page-container">
        <div class="page-header">
            <h1>KAMPANYE SAYA</h1>
        </div>
        <div class="campaign-list">
            {% for campaign in campaigns %}
            <a class="campaign-item" href="{% url 'vote_detail' campaign.pk  %}">
                <div class="campaign-img-container">
                    <img class="campaign-img" src="{% static 'img/contoh.png' %}" alt="">
                </div>
                <div class="campaign-title">
                    <h3>{{campaign.title}}</h3>
                    <div class="campaign-category">{{campaign.category.deskripsi}}</div>
                </div>
                
                <p class="campaign-description">
                    {{campaign.content}}
                </p>
                <div class="campaign-status">
                    {% if campaign.statusJapat.deskripsi == "Disetujui" %}
                    <div class="status disetujui">{{campaign.statusJapat.deskripsi}}</div>
                    {% elif campaign.statusJapat.deskripsi == "Pending" %}
                    <div class="status menunggu">{{campaign.statusJapat.deskripsi}}</div>
                    {% elif campaign.statusJapat.deskripsi == "Ditolak" %}
                    <div class="status ditolak">{{campaign.statusJapat.deskripsi}}</div>
                    {% endif %}
                    
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

{% endblock body %}