{% extends 'navbar.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<link href="{% static 'css/campaign_search.css' %}" rel="stylesheet">
<script src="{% static 'js/svg-inject.min.js' %}"></script>
{% endblock style %}

{% block body %}
    <div class="page-container">
        <div class="page-header">
            <h1>Telusuri Kampanye</h1>
            <form class="search-group">
                <button type="submit"><img class="search-icon" src="{% static 'img/icon-search.svg' %}" alt="search"></button>
                <input class="search-input" type="text">
            </form>
        </div>
        <div class="page-content">
          <form method="GET" action="{% url 'campaign_search' %}">
            <div class="radio-inputs">
                <label class="radio-item">
                    <input class="input-radio" type="radio" name="jenis_kampanye" value="ekonomi">
                    <img class="input-img" src="{% static 'img/logo-ekonomi.svg' %}" alt="ekonomi" onload="SVGInject(this)">
                    <span class="input-desc">Ekonomi</span>
                </label>
                <label class="radio-item">
                    <input class="input-radio" type="radio" name="jenis_kampanye" value="hukum">
                    <img class="input-img" src="{% static 'img/logo-hukum.svg' %}" alt="hukum" onload="SVGInject(this)">
                    <span class="input-desc">Hukum</span>
                </label>
                <label class="radio-item">
                    <input class="input-radio" type="radio" name="jenis_kampanye" value="lingkungan">
                    <img class="input-img" src="{% static 'img/logo-lingkungan.svg' %}" alt="lingkungan" onload="SVGInject(this)">
                    <span class="input-desc">Lingkungan</span>
                </label>
                <label class="radio-item">
                    <input class="input-radio" type="radio" name="jenis_kampanye" value="pendidikan">
                    <img class="input-img" src="{% static 'img/logo-pendidikan.svg' %}" alt="pendidikan" onload="SVGInject(this)">
                    <span class="input-desc">Pendidikan</span>
                </label>
                <label class="radio-item">
                    <input class="input-radio" type="radio" name="jenis_kampanye" value="sospol">
                    <img class="input-img" src="{% static 'img/logo-sospol.svg' %}" alt="sospol" onload="SVGInject(this)">
                    <span class="input-desc">Sosial Politik</span>
                </label>
                <label class="radio-item">
                    <input class="input-radio" type="radio" name="jenis_kampanye" value="others">
                    <img class="input-img" src="{% static 'img/logo-others.svg' %}" alt="others" onload="SVGInject(this)">
                    <span class="input-desc">Lainnya</span>
                </label>
            </div>
          </form>
            

            <h1 class="section-header">Kampanye {{category}}</h1>
            
            <div class="campaign-items">
                {% for japat in page_obj %}
                <div class="campaign-item">
                    <h3 class="campaign-title">{{japat.title}}</h3>
                    <p class="campaign-description">
                      {{japat.content}}
                    </p>
                    <button class="button-fill vote">VOTE</button>
                </div>
                {% endfor %}
                
                {% if page_obj.paginator.count %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    <a class="arrow-left" href="#" onclick="setPage('{{page_obj.previous_page_number}}')"></a>
                    {% else %}
                    <div class="filler"></div>
                    {% endif %}
    
                    <span class="page-numbers">
                        Page
                        <span class="page-number" onclick="setPage('{{page_obj.number}}')"> {{ page_obj.number }}</span>
                        of
                        <span class="page-number" onclick="setPage('{{ page_obj.paginator.num_pages }}')">{{ page_obj.paginator.num_pages}}</span>
                    </span>
                    
                    {% if page_obj.has_next %}
                    <a class="arrow-right" href="#" onclick="setPage('{{page_obj.next_page_number}}')"></a>
                    {% else %}
                    <div class="filler"></div>
                    {% endif %}
                </div>
                {% endif %}
            </div>

        </div>

        
    </div>

{% endblock body %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script src="{% static 'js/campaign_search.js' %}" ></script>
{% endblock script %}