{% extends 'navbar.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/campaign_home.css' %}" rel="stylesheet">
{% endblock style %}

{% block body %}
    <div class="page-container">
        <div class="page-header">
            <h1>KAMPANYE SAYA</h1>
        </div>
        <div class="campaign-list">
            <a class="campaign-item" href="#">
                <div class="campaign-img-container">
                    <img class="campaign-img" src="{% static 'img/contoh.png' %}" alt="">
                </div>
                <div class="campaign-title">
                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                    <div class="campaign-category">Ekonomi</div>
                </div>
                
                <p class="campaign-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus mauris habitant id lectus. Massa id nec facilisi habitant
                    euismod blandit vestibulum. Duis volutpat dictum eu lorem nibh tellus commodo sagittis. Placerat egestas sit sit
                    ridiculus vel. Dui a posuere mauris etiam maecenas et. ...Selanjutnya
                </p>
                <div class="campaign-status">
                    <div class="status disetujui">DISETUJUI</div>
                </div>

            </a>
            <a class="campaign-item" href="">
                <div class="campaign-img-container">
                    <img class="campaign-img" src="{% static 'img/contoh.png' %}" alt="">
                </div>
                <div class="campaign-title">
                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                    <div class="campaign-category">Ekonomi</div>
                </div>
                
                <p class="campaign-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus mauris habitant id lectus. Massa id nec facilisi habitant
                    euismod blandit vestibulum. Duis volutpat dictum eu lorem nibh tellus commodo sagittis. Placerat egestas sit sit
                    ridiculus vel. Dui a posuere mauris etiam maecenas et. ...Selanjutnya
                </p>
                <div class="campaign-status">
                    <div class="status menunggu">MENUNGGU</div>
                </div>
            </a>

            <a class="campaign-item" href="">
                <div class="campaign-img-container">
                    <img class="campaign-img" src="{% static 'img/contoh.png' %}" alt="">
                </div>
                <div class="campaign-title">
                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                    <div class="campaign-category">Ekonomi</div>
                </div>
                
                <p class="campaign-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus mauris habitant id lectus. Massa id nec facilisi habitant
                    euismod blandit vestibulum. Duis volutpat dictum eu lorem nibh tellus commodo sagittis. Placerat egestas sit sit
                    ridiculus vel. Dui a posuere mauris etiam maecenas et. ...Selanjutnya
                </p>
                <div class="campaign-status">
                    <div class="status ditolak">DITOLAK</div>
                </div>
            </a>
        </div>
    </div>

{% endblock body %}