gi{% extends 'navbar.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<script src="{% static 'js/svg-inject.min.js' %}"></script>
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock style %}

{% block body %}
    <div class="page-container">
        <div class="page-header">
            <img class="page-header-img" src="{% static 'img/title-demokrasi.svg' %}" alt="">
            {% if user.is_authenticated %}
            <a class="button-fill invert" href="#">Kampanyekan Suaramu</a>
            {% endif %}
        </div>
        <div class="page-content">

            <h1 class="section-header">Kampanye Teropuler</h1>

            <div id="card-slider" class="splide campaign-carousel">
                <div class="splide__track">
                    <ul class="splide__list">
                    {% if japat%}
                      {% for japat in japats %}
                        <li class="splide__slide">
                            <div class="campaign-item">
                                <h3 class="campaign-title">{{japat.title}}</h3>
                                <p class="campaign-description">
                                    {{japat.content}}
                                </p>
                                <button class="button-fill vote">VOTE</button>
                            </div>
                        </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>

                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev carousel-button left"></button>
                    <button class="splide__arrow splide__arrow--next carousel-button right"></button>
                </div>
            </div>

            <h1 class="section-header">Kebijikan Teropuler</h1>

            <div class="kebijakan-list">

                <div class="kebijakan-item">
                    <a href="#"><h1 class="kebijakan-title">Lorem Ipsum Dolor sit amet</h1></a>
                    <div class="kebijakan-category">ekonomi</div>
                    <p class="kebijakan-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.orem nibh tellus commodo sagittis. Placerat egestas sit sit
                        ridiculus vel. Placerat egestas sit sit ridiculus vel. Dui a posuere mauris etiam maecenas etipsum dolor sit amet,
                        consectetur adipiscing elit.orem nibh tellus commodo sagittis. Placerat egestas sit sit ridiculus vel. Dui a posuere
                        mauris etiam maecenas et ... selanjutnya
                    </p>
                    <img class="kebijakan-category-logo" src="{% static 'img/logo-ekonomi.svg' %}" alt="" onload="SVGInject(this)">
                </div>

                <div class="kebijakan-item">
                    <a href="#"><h1 class="kebijakan-title">Lorem Ipsum Dolor sit amet</h1></a>
                    <div class="kebijakan-category">lingkungan</div>
                    <p class="kebijakan-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.orem nibh tellus commodo sagittis. Placerat egestas sit sit
                        ridiculus vel. Placerat egestas sit sit ridiculus vel. Dui a posuere mauris etiam maecenas etipsum dolor sit amet,
                        consectetur adipiscing elit.orem nibh tellus commodo sagittis. Placerat egestas sit sit ridiculus vel. Dui a posuere
                        mauris etiam maecenas et ... selanjutnya
                    </p>
                    <img class="kebijakan-category-logo" src="{% static 'img/logo-lingkungan.svg' %}" alt="" onload="SVGInject(this)">
                </div>

                <div class="kebijakan-item">
                    <a href="#"><h1 class="kebijakan-title">Lorem Ipsum Dolor sit amet</h1></a>
                    <div class="kebijakan-category">hukum</div>
                    <p class="kebijakan-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.orem nibh tellus commodo sagittis. Placerat egestas sit sit
                        ridiculus vel. Placerat egestas sit sit ridiculus vel. Dui a posuere mauris etiam maecenas etipsum dolor sit amet,
                        consectetur adipiscing elit.orem nibh tellus commodo sagittis. Placerat egestas sit sit ridiculus vel. Dui a posuere
                        mauris etiam maecenas et ... selanjutnya
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, sit deleniti consequatur recusandae facilis amet
                        adipisci exercitationem molestiae quis necessitatibus, ipsum voluptatibus iusto quod! Totam a vel quasi iste sunt.
                    </p>
                    <img class="kebijakan-category-logo" src="{% static 'img/logo-hukum.svg' %}" alt="" onload="SVGInject(this)">
                </div>

            </div>
        </div>

        
    </div>

{% endblock body %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script src="{% static 'js/home.js' %}" ></script>
{% endblock script %}