{% extends 'navbar.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<script src="{% static 'js/svg-inject.min.js' %}"></script>
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock style %}

{% block body %}
    <div class="page-container">
        <div class="page-header">
            <img class="page-header-img" src="{% static 'img/title-demokrasi.svg' %}" alt="">
            {% if user.is_authenticated and user.is_superuser %}
            <a class="button-fill invert" href="{% url 'campaign_make' %}">Kampanyekan Suaramu</a>
            {% endif %}
        </div>
        <div class="page-content">

            <h1 class="section-header">Kampanye Terpopuler</h1>

            <div id="card-slider" class="splide campaign-carousel">
                <div class="splide__track">
                    <ul class="splide__list">
                    {% if japats %}
                      {% for japat in japats %}
                        <li class="splide__slide">
                            <div class="campaign-item">
                                <h3 class="campaign-title">{{japat.title}}</h3>
                                <p class="campaign-description">
                                    {{japat.content}}
                                </p>
                                <button class="button-fill vote">VOTE</button>
                            </div>
                        </li>
                        {% endfor %}
                        {% endif %}
                  
                    </ul>
                </div>

                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev carousel-button left"></button>
                    <button class="splide__arrow splide__arrow--next carousel-button right"></button>
                </div>
            </div>

            <h1 class="section-header">Kebijakan Terpopuler</h1>

            <div class="kebijakan-list">
              {% for policy in policies %}
                <div class="kebijakan-item">
                    <a href="{% url 'kebijakan_detail' policy.pk  %}"><h1 class="kebijakan-title">{{policy.title}}</h1></a>
                    <div class="kebijakan-category">ekonomi</div>
                    <p class="kebijakan-description">
                        {{policy.overview}} ... selanjutnya
                    </p>
                    <img class="kebijakan-category-logo" src="{% static 'img/logo-ekonomi.svg' %}" alt="" onload="SVGInject(this)">
                    <div class="kebijakan-socials">
                        <a href={{policy.youtube|default_if_none:"#"}}><img src="{% static 'img/icon-yt.svg' %}" alt=""> </a>
                        <a href={{policy.instagram|default_if_none:"#"}}><img src="{% static 'img/icon-ig.svg' %}" alt=""> </a>
                        <a href={{policy.spotify|default_if_none:"#"}}><img src="{% static 'img/icon-spotify.svg' %}" alt=""> </a>
                    </div>
                </div>
              {% endfor %}

            </div>
        </div>

        
    </div>

{% endblock body %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script src="{% static 'js/home.js' %}" ></script>
{% endblock script %}