{% extends 'navbar.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/campaign_detail.css' %}" rel="stylesheet">
{% endblock style %}

{% block body %}
    <div class="page-container">
        <div class="page-header">
            <img class="page-header-img" src="{% static 'img/bg-suara.png' %}" alt="">
        </div>
        <div class="page-content">
            <ul class="breadcrumb">
                <li><a href="#" class="breadcrumb-link" >Ekonomi</a></li>
                <li><a href="#" class="breadcrumb-link current" >Lorem ipsum dolor sit amet</a></li>
            </ul>
            <div class=""></div>
            <h1 class="campaign-title">Lorem ipsum dolor sit amet</h1>
            <div class="campaign-img-container">
                <img class="campaign-img" src="{% static 'img/contoh.png' %}" alt="">
            </div>

            <div class="campaign-category"> Ekonomi </div>

            <p class="campaign-description">
                
            </p> 

            <ul>
              <li>
                xvi.	Pelaksanaan PPKM di tingkat RT/RW, Desa/Kelurahan dan kecamatan tetap diberlakukan dengan mengaktifkan Posko-Posko di seiap tingkatan dengan melihat kriteria zonasi pengendaliann wilayah.
              </li>
              <li>
                xvi.	Pelaksanaan PPKM di tingkat RT/RW, Desa/Kelurahan dan kecamatan tetap diberlakukan dengan mengaktifkan Posko-Posko di seiap tingkatan dengan melihat kriteria zonasi pengendaliann wilayah.
              </li>
            </ul>

            <div class="kebijakan-socials">
                <a class="kebijakan-social" href="">
                    <img src="{% static 'img/icon-ig.svg' %}" alt="">
                    <span>Lorem ipsum dolor sit</span>
                </a>
                <a class="kebijakan-social" href="">
                    <img src="{% static 'img/icon-yt.svg' %}" alt="">
                    <span>Lorem ipsum dolor sit</span>
                </a>
                <a class="kebijakan-social" href="">
                    <img src="{% static 'img/icon-spotify.svg' %}" alt="">
                    <span>Lorem ipsum dolor sit</span>
                </a>
            </div>

            <form class="vote-comment-form" action="">
                <h2 class="section-header">Komentar</h2>
                <input class="input-text" type="text">
                <textarea class="input-text" placeholder="Berikan komentar anda"></textarea>
                <button class="button-fill">KIRIM</button>
            </form>
        </div>
        
    </div>

{% endblock body %}