{% extends 'navbar.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/campaign_detail.css' %}" rel="stylesheet">
{% endblock style %}

{% block body %}
    <div class="page-container">
        <div class="page-header">
            <img class="page-header-img" src="{% static 'img/bg-suara.png' %}" alt="">
        </div>
        <div class="page-content">
            <ul class="breadcrumb">
                <li><a href="#" class="breadcrumb-link" >{{policy.category.deskripsi}}</a></li>
                <li><a href="#" class="breadcrumb-link current" >Lorem ipsum dolor sit amet</a></li>
            </ul>
            <h1 class="kebijakan-title">
                {{policy.title}}
            </h1>

            <div class="category-list">
                <div class="kebijakan-category"> {{policy.category.deskripsi}} </div>
            </div>

            <div class="kebijakan-content">

                {{policy.content | safe}}

            </div>

            <div class="kebijakan-socials">
                <a class="kebijakan-social" href="">
                    <img src="{% static 'img/icon-ig.svg' %}" alt="">
                    <span>Lorem ipsum dolor sit</span>
                </a>
                <a class="kebijakan-social" href="">
                    <img src="{% static 'img/icon-yt.svg' %}" alt="">
                    <span>Lorem ipsum dolor sit</span>
                </a>
                <a class="kebijakan-social" href="">
                    <img src="{% static 'img/icon-spotify.svg' %}" alt="">
                    <span>Lorem ipsum dolor sit</span>
                </a>
            </div>

            <form class="vote-comment-form" method="POST" action="{% url 'kebijakan_detail' id=policy.pk %}">
              {% csrf_token %}
                <h3 class="form-header">Komentar</h3>
                <input class="input-text" type="email" name="email" placeholder="Masukan email anda">
                <textarea class="input-text" name="content" placeholder="Berikan komentar anda"></textarea>
                <button type="submit" name="comment" value="comment" class="button-fill">KIRIM</button>
            </form>

            {% if comments == True %}

            <div class="vote-comments">
              {% for comment in comments_policy %}
                <div class="vote-comment">
                    <h4 class="comment-poster">{{comment.email}}</h4>
                    <p class="comment-text">
                        {{comment.content}}
                    </p>
                </div>
                {% endfor %}
            </div>

            {% endif %}
        </div>
        
    </div>

{% block script %}
<script src="{% static 'js/kebijakan_detail.js' %}" ></script>
{% endblock script %}

{% endblock body %}