{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block style %}
    {% endblock style %}
    

    <title>Vote Policy</title>
</head>


<body class ='body'>
    <nav class="nav-container">
      <div class="nav-brand">
        <a href="{% url 'home'%}">
          <img class="nav-brand-img" src="{% static 'img/logo-votepolicy.png' %}" alt="logo">
        </a>
        <img class="icon-burger" id="dropdown-burger" src="{% static 'img/icon-burger.svg' %}" alt="logo">
      </div>
    
      <div class="nav-group" id="nav-group">
        <ul class="nav-links">
          <li>
            <a class="nav-item" href="">Vote!</a>
          </li>
          <li class="dropdown-container" tabindex="-1">
            <button class="nav-dropdown nav-item"> Policy <div class="dropdown-icon"></div> </button>
            <div class="dropdown-items" id="policy-dropdown">
              <a class="dropdown-item" href="#">Hukum</a>
              <a class="dropdown-item" href="#">Ekonomi</a>
              <a class="dropdown-item" href="#">Lingkungan</a>
              <a class="dropdown-item" href="#">Sosial Politik</a>
              <a class="dropdown-item" href="#">Pendidikan</a>
              <a class="dropdown-item" href="#">Lainnya</a>
            </div>
          </li>
          <li>
            <a class="nav-item" href="#">Kampanye Saya</a>
          </li>
        </ul>
    
        <div class="nav-profile" tabindex="-1">
          {% if user.is_authenticated %}
          <button class="nav-dropdown nav-item"> <img class="icon-user" src="{% static 'img/icon-user.svg' %}" alt="logo">
            Akun Saya
            <div class="dropdown-icon"></div>
          </button>
            <div class="dropdown-items profile" id="profile-dropdown">
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
          {% else %}
          <button class="nav-dropdown nav-item"> <img class="icon-user" src="{% static 'img/icon-user.svg' %}" alt="logo">
            Masuk/Daftar <div class="dropdown-icon"></div> 
          </button>
          <div class="dropdown-items profile">
            <a class="dropdown-item" href="{% url 'login' %}">Masuk</a>
            <a class="dropdown-item" href="{% url 'register' %}">Daftar</a>
          </div>
          {% endif %}
        </div>
    
      </div>
    </nav>

    <div class="container-body">
    {% block body %}

    {% endblock body %}
    </div>

    <div class="page-footer">
      <img class="footer-curve" src="{% static 'img/footer-curve.svg' %}" alt=""><div class="footer-container">
        <div class="footer-sitemap">
          <div class="footer-about">
            <h3 class="footer-about-header">Komunitas</h3>
            <ul  class="footer-links">
              <li><a href="#">Blog Kami</a></li>
            </ul>
          </div>
          <div class="footer-about">
            <h3 class="footer-about-header">Tentang Vote Policy</h3>
            <ul class="footer-links">
              <li><a href="#">Tentang Kami</a></li>
              <li><a href="#">Karir</a></li>
              <li><a href="#">Tim Kami</a></li>
            </ul>
          </div>
          <div class="footer-about"></div>
        </div>
        <div class="footer-copyright">
          <small>© 2020, VotePolicy.org, PBC Perusahaan sosial (B corporation) tersertifikasi</small>
          <small>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</small>
        </div>
      </div>
    </div>

  
  <script src="{% static 'js/navbar.js' %}" ></script>

</body>
{% block script %}
{% endblock script %}
</html>

