{% extends 'navbar.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="{% static 'js/vote_detail.js' %}" ></script>
<link href="{% static 'css/campaign_detail.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>      
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock style %}

{% block body %}
    <div class="page-container">
        <div class="page-header">
            <img class="page-header-img" src="{% static 'img/bg-suara.png' %}" alt="">
        </div>
        <div class="page-content">
            <h1 class="campaign-title">{{campaign.title}}</h1>

            <div class="campaign-category"> {{category}} </div>

            
            <div class="kebijakan-content">
              <div class="card">
                <button class="section-accordion active">
                  <h3> <b> INFORMASI UMUM </b> </h3> 
                  <div class="accordion-arrow"></div>
               </button>
               <div class="section-content active">
              {{campaign.content | safe}}
               </div>
               {% if icons != None %}
               <button class="section-accordion active">
                <h3> <b> Target </b> </h3> 
                <div class="accordion-arrow"></div>
             </button>
             <div class="section-content active">
              <div class="icons_parent">
                    {% for icon in icons %}
                    <img src="{{icon}}" style="width:250px;height:250px;margin: 0px 50px;
                    display: block;">
                    {% endfor %}
            </div>
              
            <!-- {{campaign.target | safe}} -->
             </div>
             {% endif %}
               
            </div>

          </div>

            {% if campaign.url_file != None %}
            <embed 
                class="campaign-document" 
                src="{{campaign.url_file}}" 
                type="application/pdf" 
                frameBorder="0"
                scrolling="auto" 
                height="1000px" 
                width="100%">
            </embed>
            {% endif %}

            {% if voted == False and user.is_authenticated %}

            <form class="vote-form" method="POST" action="{% url 'vote_detail' id=campaign.pk %}">
                {% csrf_token %}
                <h3 class="form-header">Apakah kamu setuju dengan kebijakan ini?</h3>
                <span class="input-label">Email</span>
                <input class="input-text" name="email" type="email" required>
                <small class="input-alert">*Anda harus mengisi email sebelum memilih</small>
                <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey={{ recaptcha_sitekey }}></div>
                <div class="vote-buttons" >
                  
                    <button type="submit" name="setuju" value="setuju" class="button-fill" disabled title="Please fill out all the fields">SETUJU</button>
                    <button type="submit" name="tidak" value="tidak" class="button-outline" disabled title="Please fill out all the fields">TIDAK SETUJU</button>
                    
                  </div>
            </form>
            {% elif voted == False and not user.is_authenticated %}
            <form class="vote-form" method="GET" action="{% url 'login' %}">
              <h3 class="form-header">Apakah kamu setuju dengan kebijakan ini?</h3>
              <span class="input-label">Email</span>
              <input class="input-text" name="email" type="email" required>
              <small class="input-alert">*Anda harus mengisi email sebelum memilih</small>
              <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey={{ recaptcha_sitekey }}></div>
              <div class="vote-buttons" >
      
                <button type="submit" name="setuju" value="setuju" class="button-fill" disabled title="Please fill out all the fields">SETUJU</button>
                <button type="submit" name="tidak" value="tidak" class="button-outline" disabled title="Please fill out all the fields">TIDAK SETUJU</button>
                  
                </div>
          </form>
          {% elif voted == True %}

            <div class="vote-hasil">
                <h3>Hasil Vote</h3>
                <div class="vote-bar">
                    <div class="vote-bar-tidak-setuju" style="width: {{tidak_setuju}}%;">{{tidak_setuju}}%</div>
                    <div class="vote-bar-setuju">{{setuju}}%</div>
                </div>
                <div class="vote-bar-info">
                    <span>TIDAK SETUJU</span>
                    <span>SETUJU</span>
                </div>
            </div>

            <form class="vote-comment-form" method="POST" action="{% url 'vote_detail' id=campaign.pk %}">
              {% csrf_token %}
                <h3 class="form-header">Komentar</h3>
                <input class="input-text" type="email" name="email" placeholder="Masukan email anda">
                <textarea class="input-text" name="content" placeholder="Berikan komentar anda"></textarea>
                <button type="submit" name="comment" value="comment" class="button-fill">KIRIM</button>
            </form>

            {% if comments == True %}

            {% if page_obj.paginator.count %}
            <div class="vote-comments">
              
              {% for comment in page_obj %}
                <div class="vote-comment">
                    <h4 class="comment-poster">{{comment.email}}</h4>
                    <p class="comment-text">
                        {{comment.content}}
                    </p>
                </div>
                {% endfor %}
                <div class="pagination">
                  {% if page_obj.has_previous %}
                      <a class="arrow-left" href="#" onclick="setPage('{{page_obj.previous_page_number}}')"></a>
                  {% else %}
                  <div class="filler"></div>
                  {% endif %}
              
                  <span class="page-numbers">
        
                    Page
                    <span class="page-number" onclick="setPage('{{page_obj.number}}')"> {{ page_obj.number }}</span>
                    of
                    <span class="page-number" onclick="setPage('{{ page_obj.paginator.num_pages }}')">{{ page_obj.paginator.num_pages}}</span>
                  </span>
              
                  {% if page_obj.has_next %}
                     
                      <a class="arrow-right" href="#" onclick="setPage('{{page_obj.next_page_number}}')"></a>
                      
                  {% else %}
                  <div class="filler"></div>
                  {% endif %}
              </div>
            </div>
            
          {% endif %}

            {% endif %}

            <!-- <h2 class="section-header">Kampanye Terkait</h2>

            <div id="card-slider" class="splide campaign-carousel">
                <div class="splide__track">
                    <ul class="splide__list">

                        <li class="splide__slide">
                            <a class="carousel-campaign-item" href="#">
                                <img class="carousel-campaign-img" src="{% static 'img/contoh.png' %}" alt="">
                                <h4 class="carousel-campaign-title">Lorem Ipsum dolor sit amet consectetur</h4>
                            </a>
                        </li>

                        <li class="splide__slide">
                            <a class="carousel-campaign-item" href="#">
                                <img class="carousel-campaign-img" src="{% static 'img/contoh.png' %}" alt="">
                                <h4 class="carousel-campaign-title">consectetur amet sit dolor ipsum lorem</h4>
                            </a>
                        </li>

                        <li class="splide__slide">
                            <a class="carousel-campaign-item" href="#">
                                <img class="carousel-campaign-img" src="{% static 'img/contoh.png' %}" alt="">
                                <h4 class="carousel-campaign-title">Lorem Ipsum</h4>
                            </a>
                        </li>

                        <li class="splide__slide">
                            <a class="carousel-campaign-item" href="#">
                                <img class="carousel-campaign-img" src="{% static 'img/contoh.png' %}" alt="">
                                <h4 class="carousel-campaign-title">Lorem Ipsum</h4>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev carousel-button left"></button>
                    <button class="splide__arrow splide__arrow--next carousel-button right"></button>
                </div>
            </div> -->
            {% endif %}
        </div>
        {% if voted == False %}
        {% if user.is_authenticated %}
        <button class="button-fill sticky">VOTE</button>
        {% else %}
        <button class="button-fill sticky"><a style=color:white; href="{% url 'login' %}">VOTE</a></button>
        {% endif %}
        {% endif %}
        
    </div>

    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    


    {% if messages %}
        {% for m in messages %}
            {% if 'failed' in m.tags %}
                <script type="text/javascript">
                  Swal.fire({
                      "title": "Gagal",
                      "text": "{{m}}",
                      "icon": "error"

                  })
                  
                </script>
            {% else %}
            <script type="text/javascript">
                Swal.fire({
                    "title": "Suaramu sudah masuk!",
                    "html":

                    '<div class="alert-box" style="display: flex; flex-direction: column; align-items: center; padding: 1em;">' +
                        '<h4>Sebarkan kebijakan ini ke temanmu!</h4>' +
                        '<div class="social-media-group" style="display: flex; justify-content: space-around; width: 100%;">'  +
                            '<a href="#"> <img src="/static/img/fb-circle.png" alt="fb"> </a>' +
                        ' <a href="#"><img src="/static/img/twt-circle.png" alt="twt"></a>' +
                        ' <a href="#"><img src="/static/img/ig-circle.png" alt="ig"></a>' +
                        '</div>' +
                    '</div>',
                    "showCloseButton": true,
                    "showConfirmButton": false,
                })
                
            </script>
                
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock body %}
{% block script %}
<script>
  $('b').each(function(index, element) {
    console.log(element.textContent);
});
</script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script src="{% static 'js/vote.js' %}" ></script>
<script src="{% static 'js/kebijakan_search.js' %}" ></script>
<script src="{% static 'js/kebijakan_detail.js' %}" ></script>
{% endblock script %}